version: "3.9"

networks:
  automations:
    driver: bridge

services:

  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --requirepass default
    volumes:
      - redis_data:/data
    networks:
      - automations

  waha:
    image: devlikeapro/waha:latest
    restart: always

    depends_on:
      - redis

    ports:
      - "3000:3000"

    environment:
      WAHA_HTTPS_ENABLED: "true"
      WAHA_HTTPS_CERT_PATH: "/certs/cert.pem"
      WAHA_HTTPS_KEY_PATH: "/certs/key.pem"
    
      WAHA_API_KEY_HASH: "f7eadecc75a06a7456be3707e2c5f83ea12ac1c51b41132c0c1a55bbb0136cba"
      WAHA_API_KEY_HASH_TYPE: "sha256"

      WAHA_DASHBOARD_USERNAME: "sjheming"
      WAHA_DASHBOARD_PASSWORD: "Idg45uj5tr50mn25#)"

      WHATSAPP_SWAGGER_USERNAME: "sjheming"
      WHATSAPP_SWAGGER_PASSWORD: "Idg45uj5tr50mn25#)"

      WAHA_NO_API_KEY: "false"

      WHATSAPP_DEFAULT_ENGINE: "GOWS"
      WHATSAPP_HOOK_EVENTS: "message"
      WAHA_TIMEZONE: "America/Sao_Paulo"

      WHATSAPP_HOOK_URL: "http://n8n:5678/webhook/webhook"

      WAHA_REDIS_ENABLED: "true"
      WAHA_REDIS_HOST: "redis"
      WAHA_REDIS_PORT: "6379"
      WAHA_REDIS_PASSWORD: "default"

    volumes:
      - /opt/waha/certs:/certs:ro
      - waha_sessions:/app/.sessions
      - waha_media:/app/.media

    networks:
      - automations

  n8n:
    image: n8nio/n8n:latest
    restart: always

    ports:
      - "5678:5678"

    environment:
      N8N_HOST: "62.72.63.172"
      WEBHOOK_URL: "http://62.72.63.172:5678"
      GENERIC_TIMEZONE: "America/Sao_Paulo"

      N8N_SECURE_COOKIE: "false"

      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: "sjheming"
      N8N_BASIC_AUTH_PASSWORD: "Idg45uj5tr50mn25#)"

    volumes:
      - n8n_data:/home/node/.n8n

    networks:
      - automations

volumes:
  redis_data:
  waha_sessions:
  waha_media:
  n8n_data:
